#wb_indexBookmark1 {
  position: absolute;
  left: 432px;
  top: -50px;
  width: 59px;
  height: 21px;
  z-index: 128;
}

#a_902a_0 {
  visibility: hidden;
}

#indexLayer1 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 50px;
  width: 100%;
  height: 534px;
  z-index: 129;
}

#indexLayer1_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText2 {
  position: absolute;
  left: 238px;
  top: 32px;
  width: 451px;
  height: 77px;
  z-index: 0;
  text-align: left;
}

#span_237c_0 {
  color: #daa520;
  font-size: 64px;
}

#span_237c_1 {
  color: #000;
  font-size: 64px;
}

#wb_indexText3 {
  position: absolute;
  left: 414px;
  top: 95px;
  width: 549px;
  height: 77px;
  z-index: 1;
  text-align: left;
}

#span_237c_2 {
  color: #daa520;
  font-size: 64px;
}

#wb_indexText4 {
  position: absolute;
  left: 524px;
  top: 169px;
  width: 462px;
  height: 33px;
  z-index: 2;
  text-align: left;
}

#span_237c_3 {
  color: #daa520;
  font-size: 27px;
}

#wb_indexText5 {
  position: absolute;
  left: 491px;
  top: 257px;
  width: 417px;
  height: 29px;
  z-index: 3;
  text-align: left;
}

#span_237c_4 {
  color: #fff;
  font-size: 24px;
}

#wb_indexText6 {
  position: absolute;
  left: 491px;
  top: 295px;
  width: 376px;
  height: 29px;
  z-index: 4;
  text-align: left;
}

#span_237c_5 {
  color: #fff;
  font-size: 24px;
}

#wb_indexText7 {
  position: absolute;
  left: 491px;
  top: 332px;
  width: 326px;
  height: 29px;
  z-index: 5;
  text-align: left;
}

#span_237c_6 {
  color: #fff;
  font-size: 24px;
}

#wb_indexText8 {
  position: absolute;
  left: 491px;
  top: 368px;
  width: 326px;
  height: 29px;
  z-index: 6;
  text-align: left;
}

#span_237c_7 {
  color: #fff;
  font-size: 24px;
}

#wb_indexText9 {
  position: absolute;
  left: 491px;
  top: 404px;
  width: 326px;
  height: 29px;
  z-index: 7;
  text-align: left;
}

#span_237c_8 {
  color: #fff;
  font-size: 24px;
}

#wb_indexImage1 {
  position: absolute;
  left: 930px;
  top: 350px;
  width: 163px;
  height: 124px;
  z-index: 8;
}

#indexImage1 {
  width: 163px;
  height: 124px;
}

#indexLayer2 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 580px;
  width: 100%;
  height: 68px;
  z-index: 130;
}

#indexLayer2_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText10 {
  position: absolute;
  left: 253px;
  top: 14px;
  width: 594px;
  height: 42px;
  z-index: 9;
  text-align: left;
}

#span_237c_9 {
  color: #000;
  font-size: 35px;
}

#indexLayer4 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 647px;
  width: 100%;
  height: 10173px;
  z-index: 131;
}

#indexLayer4_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexImage40 {
  position: absolute;
  left: 26px;
  top: 5436px;
  width: 573px;
  height: 382px;
  z-index: 10;
}

#indexImage40 {
  width: 573px;
  height: 382px;
}

#wb_indexImage7 {
  position: absolute;
  left: 107px;
  top: 3127px;
  width: 470px;
  height: 486px;
  z-index: 11;
}

#indexImage7 {
  width: 470px;
  height: 486px;
}

#wb_indexImage19 {
  position: absolute;
  left: 44px;
  top: 7557px;
  width: 378px;
  height: 614px;
  z-index: 12;
}

#indexImage19 {
  width: 378px;
  height: 615px;
}

#wb_indexImage11 {
  position: absolute;
  left: 87px;
  top: 5821px;
  width: 378px;
  height: 615px;
  z-index: 13;
}

#indexImage11 {
  width: 378px;
  height: 615px;
}

#wb_indexImage4 {
  position: absolute;
  left: 41px;
  top: 1060px;
  width: 378px;
  height: 615px;
  z-index: 14;
}

#indexImage4 {
  width: 378px;
  height: 615px;
}

#wb_indexImage20 {
  position: absolute;
  left: 331px;
  top: 7877px;
  width: 300px;
  height: 180px;
  z-index: 15;
}

#indexImage20 {
  width: 300px;
  height: 180px;
}

#wb_indexImage2 {
  position: absolute;
  left: 2px;
  top: 23px;
  width: 428px;
  height: 643px;
  z-index: 16;
}

#indexImage2 {
  width: 428px;
  height: 643px;
}

#wb_indexText13 {
  position: absolute;
  left: 448px;
  top: 65px;
  width: 649px;
  height: 42px;
  z-index: 17;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 35px;
  }
}

#wb_indexText14 {
  position: absolute;
  left: 447px;
  top: 139px;
  width: 283px;
  height: 29px;
  z-index: 18;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 24px;
  }
}

#wb_indexText15 {
  position: absolute;
  left: 448px;
  top: 313px;
  width: 383px;
  height: 29px;
  z-index: 19;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 24px;
  }
}

#wb_indexText16 {
  position: absolute;
  left: 448px;
  top: 491px;
  width: 364px;
  height: 29px;
  z-index: 20;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 24px;
  }
}

#wb_indexText17 {
  position: absolute;
  left: 448px;
  top: 169px;
  width: 638px;
  height: 96px;
  z-index: 21;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText18 {
  position: absolute;
  left: 448px;
  top: 348px;
  width: 638px;
  height: 96px;
  z-index: 22;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText19 {
  position: absolute;
  left: 448px;
  top: 525px;
  width: 638px;
  height: 96px;
  z-index: 23;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText20 {
  position: absolute;
  left: 163px;
  top: 1045px;
  width: 752px;
  height: 42px;
  z-index: 24;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 35px;
  }
}

#wb_indexText22 {
  position: absolute;
  left: 507px;
  top: 1112px;
  width: 562px;
  height: 35px;
  z-index: 25;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 27px;
  }
}

#wb_indexImage3 {
  position: absolute;
  left: 313px;
  top: 1469px;
  width: 300px;
  height: 180px;
  z-index: 26;
}

#indexImage3 {
  width: 300px;
  height: 180px;
}

#wb_indexText21 {
  position: absolute;
  left: 388px;
  top: 1497px;
  width: 134px;
  height: 55px;
  text-align: center;
  z-index: 27;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 17px;
  }
}

#wb_indexText23 {
  position: absolute;
  left: 688px;
  top: 1167px;
  width: 261px;
  height: 42px;
  z-index: 28;
  text-align: left;
  > span {
    color: #b22222;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText24 {
  position: absolute;
  left: 666px;
  top: 1246px;
  width: 328px;
  height: 77px;
  z-index: 29;
  text-align: left;
  > span {
    color: #ff0;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#indexRollOver1 {
  position: absolute;
  overflow: hidden;
  left: 618px;
  top: 1392px;
  width: 400px;
  height: 100px;
  z-index: 30;
}

#wb_indexText25 {
  position: absolute;
  left: 709px;
  top: 1507px;
  width: 254px;
  height: 24px;
  z-index: 31;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText28 {
  position: absolute;
  left: 14px;
  top: 1902px;
  width: 1038px;
  height: 247px;
  z-index: 33;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 16px;
  }
}

#wb_indexImage5 {
  position: absolute;
  left: 335px;
  top: 1780px;
  width: 256px;
  height: 76px;
  z-index: 34;
}

#indexImage5 {
  width: 400px;
  height: 107px;
}

#wb_indexImage6 {
  position: absolute;
  left: 564px;
  top: 2311px;
  width: 500px;
  height: 493px;
  z-index: 35;
}

#indexImage6 {
  width: 500px;
  height: 493px;
}

#wb_indexText30 {
  position: absolute;
  left: 26px;
  top: 2346px;
  width: 514px;
  height: 451px;
  z-index: 36;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#indexRollOver2 {
  position: absolute;
  overflow: hidden;
  left: 22px;
  top: 2830px;
  width: 400px;
  height: 100px;
  z-index: 37;
}

#wb_indexText31 {
  position: absolute;
  left: 30px;
  top: 2958px;
  width: 1046px;
  height: 72px;
  z-index: 38;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText33 {
  position: absolute;
  left: 545px;
  top: 3259px;
  width: 511px;
  height: 224px;
  z-index: 39;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText35 {
  position: absolute;
  left: 30px;
  top: 3733px;
  width: 511px;
  height: 432px;
  z-index: 40;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText36 {
  position: absolute;
  left: 377px;
  top: 4202px;
  width: 371px;
  height: 52px;
  z-index: 41;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 43px;
  }
}

#wb_indexText38 {
  position: absolute;
  left: 37px;
  top: 4798px;
  width: 542px;
  height: 94px;
  z-index: 42;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 35px;
  }
}

#wb_indexYouTube1 {
  position: absolute;
  left: 251px;
  top: 710px;
  width: 518px;
  height: 324px;
  z-index: 43;
}

#wb_indexText39 {
  position: absolute;
  left: 137px;
  top: 670px;
  width: 829px;
  height: 42px;
  z-index: 44;
  text-align: left;
  > {
    a {
      visibility: hidden;
    }
    span {
      color: #daa520;
      font-family: 'roboto condensed';
      font-size: 35px;
    }
  }
}

#wb_indexText40 {
  position: absolute;
  left: 276px;
  top: 4918px;
  width: 215px;
  height: 77px;
  z-index: 45;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 64px;
  }
}

#wb_indexLine1 {
  position: absolute;
  left: 260px;
  top: 4927px;
  width: 169px;
  height: 35px;
  z-index: 46;
}



#wb_indexText41 {
  position: absolute;
  left: 317px;
  top: 5018px;
  width: 114px;
  height: 77px;
  z-index: 47;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 64px;
  }
}

#wb_indexText42 {
  position: absolute;
  left: 51px;
  top: 4956px;
  width: 244px;
  height: 29px;
  z-index: 48;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 24px;
  }
}

#wb_indexText43 {
  position: absolute;
  left: 51px;
  top: 5050px;
  width: 238px;
  height: 29px;
  z-index: 49;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 24px;
  }
}

#wb_indexText44 {
  position: absolute;
  left: 185px;
  top: 5816px;
  width: 752px;
  height: 42px;
  z-index: 50;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 35px;
  }
}

#wb_indexText46 {
  position: absolute;
  left: 710px;
  top: 5908px;
  width: 261px;
  height: 42px;
  z-index: 51;
  text-align: left;
  > span {
    color: #b22222;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText47 {
  position: absolute;
  left: 688px;
  top: 5967px;
  width: 328px;
  height: 77px;
  z-index: 52;
  text-align: left;
  > span {
    color: #ff0;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#indexRollOver3 {
  position: absolute;
  overflow: hidden;
  left: 640px;
  top: 6112px;
  width: 400px;
  height: 100px;
  z-index: 54;
}

#wb_indexText49 {
  position: absolute;
  left: 732px;
  top: 6227px;
  width: 254px;
  height: 24px;
  z-index: 55;
  text-align: left;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText45 {
  position: absolute;
  left: 531px;
  top: 5867px;
  width: 562px;
  height: 35px;
  z-index: 56;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 27px;
  }
}

#wb_indexImage12 {
  position: absolute;
  left: 363px;
  top: 6113px;
  width: 300px;
  height: 180px;
  z-index: 57;
}

#indexImage12 {
  width: 300px;
  height: 180px;
}

#wb_indexText50 {
  position: absolute;
  left: 440px;
  top: 6145px;
  width: 134px;
  height: 55px;
  text-align: center;
  z-index: 58;
  > span {
    color: #fff;
    font-family: 'roboto condensed';
    font-size: 17px;
  }
}

#wb_indexImage13 {
  position: absolute;
  left: 34px;
  top: 6473px;
  width: 150px;
  height: 150px;
  z-index: 59;
}

#indexImage13 {
  width: 150px;
  height: 150px;
}

#wb_indexImage14 {
  position: absolute;
  left: 32px;
  top: 6645px;
  width: 150px;
  height: 150px;
  z-index: 60;
}

#indexImage14 {
  width: 150px;
  height: 150px;
}

#wb_indexText52 {
  position: absolute;
  left: 218px;
  top: 6503px;
  width: 833px;
  height: 100px;
  z-index: 61;
  text-align: left;
  > span {
    color: #ffa500;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText53 {
  position: absolute;
  left: 218px;
  top: 6674px;
  width: 833px;
  height: 81px;
  z-index: 62;
  text-align: left;
  > span {
    color: #ffa500;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexImage15 {
  position: absolute;
  left: 32px;
  top: 6810px;
  width: 150px;
  height: 150px;
  z-index: 63;
}

#indexImage15 {
  width: 150px;
  height: 150px;
}

#wb_indexText54 {
  position: absolute;
  left: 213px;
  top: 6846px;
  width: 833px;
  height: 81px;
  z-index: 64;
  text-align: left;
  > span {
    color: #ffa500;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexImage16 {
  position: absolute;
  left: 37px;
  top: 6983px;
  width: 150px;
  height: 150px;
  z-index: 65;
}

#indexImage16 {
  width: 150px;
  height: 150px;
}

#wb_indexText55 {
  position: absolute;
  left: 213px;
  top: 7017px;
  width: 833px;
  height: 62px;
  z-index: 66;
  text-align: left;
  > span {
    color: #ffa500;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexImage17 {
  position: absolute;
  left: 35px;
  top: 7164px;
  width: 150px;
  height: 150px;
  z-index: 67;
}

#indexImage17 {
  width: 150px;
  height: 150px;
}

#wb_indexText56 {
  position: absolute;
  left: 211px;
  top: 7180px;
  width: 833px;
  height: 119px;
  z-index: 68;
  text-align: left;
  > span {
    color: #ffa500;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexImage18 {
  position: absolute;
  left: 38px;
  top: 7344px;
  width: 150px;
  height: 150px;
  z-index: 69;
}

#indexImage18 {
  width: 150px;
  height: 150px;
}

#wb_indexText57 {
  position: absolute;
  left: 210px;
  top: 7376px;
  width: 833px;
  height: 81px;
  z-index: 70;
  text-align: left;
  > span {
    color: #ffa500;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText58 {
  position: absolute;
  left: 158px;
  top: 7520px;
  width: 752px;
  height: 42px;
  z-index: 71;
  text-align: left;
  > span {
    color: #ffd700;
    font-family: 'roboto condensed';
    font-size: 35px;
  }
}

#wb_indexText60 {
  position: absolute;
  left: 688px;
  top: 7643px;
  width: 261px;
  height: 42px;
  z-index: 72;
  text-align: left;
  > span {
    color: #b22222;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText61 {
  position: absolute;
  left: 659px;
  top: 7722px;
  width: 328px;
  height: 77px;
  z-index: 73;
  text-align: left;
  > span {
    color: #ff0;
    font-family: 'roboto condensed';
    font-size: 20px;
  }
}

#wb_indexText59 {
  position: absolute;
  left: 516px;
  top: 7585px;
  width: 562px;
  height: 35px;
  z-index: 75;
  text-align: left;
  > span {
    color: #daa520;
    font-family: 'roboto condensed';
    font-size: 27px;
  }
}

#indexRollOver4 {
  position: absolute;
  overflow: hidden;
  left: 606px;
  top: 7868px;
  width: 400px;
  height: 100px;
  z-index: 76;
}

#wb_indexImage21 {
  position: absolute;
  left: 0;
  top: 9027px;
  width: 400px;
  height: 300px;
  z-index: 77;
}

#indexImage21 {
  width: 400px;
  height: 300px;
}

#wb_indexText66 {
  position: absolute;
  left: 408px;
  top: 9005px;
  width: 656px;
  height: 321px;
  z-index: 78;
  text-align: left;
  > {
    span {
      color: #ffd700;
      font-family: 'roboto condensed';
      font-size: 27px;
    }
  }
}

#wb_indexImage22 {
  position: absolute;
  left: 88px;
  top: 9393px;
  width: 256px;
  height: 256px;
  z-index: 79;
}

#indexImage22 {
  width: 256px;
  height: 256px;
}

#wb_indexText67 {
  position: absolute;
  left: 407px;
  top: 9360px;
  width: 656px;
  height: 297px;
  z-index: 80;
  text-align: left;
  > {
    span {
      color: #fff;
      font-family: 'roboto condensed';
      font-size: 20px;
    }
  }
}

.hover {
  left: 0;
  top: 0;
  width: 400px;
  height: 100px;
}

#wb_indexText63 {
  position: absolute;
  left: 409px;
  top: 7909px;
  width: 134px;
  height: 55px;
  text-align: center;
  z-index: 81;
}

#span_7980_0 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 17px;
}

#span_7980_1 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 35px;
}

#span_7980_2 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 29px;
}

#wb_indexBookmark2 {
  position: absolute;
  left: 508px;
  top: 7460px;
  width: 63px;
  height: 22px;
  z-index: 82;
}

#a_7980_0 {
  visibility: hidden;
}

#wb_indexBookmark3 {
  position: absolute;
  left: 495px;
  top: 6342px;
  width: 29px;
  height: 18px;
  z-index: 83;
}

#a_7980_1 {
  visibility: hidden;
}

#wb_indexBookmark4 {
  position: absolute;
  left: 498px;
  top: 8841px;
  width: 53px;
  height: 22px;
  z-index: 84;
}

#a_7980_2 {
  visibility: hidden;
}

#wb_indexImage10 {
  position: absolute;
  left: 568px;
  top: 4700px;
  width: 516px;
  height: 516px;
  z-index: 85;
}

#indexImage10 {
  width: 516px;
  height: 516px;
}

#wb_indexText11 {
  position: absolute;
  left: 589px;
  top: 5140px;
  width: 485px;
  height: 48px;
  z-index: 86;
  text-align: left;
}

#span_1f1a_0 {
  color: #b22222;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#wb_indexText12 {
  position: absolute;
  left: 41px;
  top: 5130px;
  width: 519px;
  height: 209px;
  z-index: 87;
  text-align: left;
}

#span_1f1a_1 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 16px;
}

#wb_indexImage9 {
  position: absolute;
  left: 312px;
  top: 4257px;
  width: 470px;
  height: 420px;
  z-index: 88;
}

#indexImage9 {
  width: 470px;
  height: 420px;
}

#wb_indexText68 {
  position: absolute;
  left: 406px;
  top: 9689px;
  width: 656px;
  height: 221px;
  z-index: 89;
  text-align: left;
}

#span_9b27_0 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 24px;
}

#span_9b27_1 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b27_2 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b27_3 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b27_4 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#wb_indexImage23 {
  position: absolute;
  left: 70px;
  top: 9712px;
  width: 309px;
  height: 235px;
  z-index: 90;
}

#indexImage23 {
  width: 309px;
  height: 235px;
}

#wb_indexText73 {
  position: absolute;
  left: 238px;
  top: 8262px;
  width: 808px;
  height: 600px;
  z-index: 91;
  text-align: left;
}

#span_f763_0 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_1 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_2 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_3 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_4 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_5 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_6 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_7 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_8 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_9 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_10 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_11 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_12 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_13 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_14 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_f763_15 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#wb_indexImage29 {
  position: absolute;
  left: 181px;
  top: 8267px;
  width: 38px;
  height: 38px;
  z-index: 92;
}

#indexImage29 {
  width: 38px;
  height: 38px;
}

#wb_indexImage30 {
  position: absolute;
  left: 181px;
  top: 8334px;
  width: 38px;
  height: 38px;
  z-index: 93;
}

#indexImage30 {
  width: 38px;
  height: 38px;
}

#wb_indexImage31 {
  position: absolute;
  left: 181px;
  top: 8394px;
  width: 38px;
  height: 38px;
  z-index: 94;
}

#indexImage31 {
  width: 38px;
  height: 38px;
}

#wb_indexImage32 {
  position: absolute;
  left: 181px;
  top: 8452px;
  width: 38px;
  height: 38px;
  z-index: 95;
}

#indexImage32 {
  width: 38px;
  height: 38px;
}

#wb_indexImage33 {
  position: absolute;
  left: 181px;
  top: 8508px;
  width: 38px;
  height: 38px;
  z-index: 96;
}

#indexImage33 {
  width: 38px;
  height: 38px;
}

#wb_indexImage34 {
  position: absolute;
  left: 181px;
  top: 8621px;
  width: 38px;
  height: 38px;
  z-index: 97;
}

#indexImage34 {
  width: 38px;
  height: 38px;
}

#wb_indexImage35 {
  position: absolute;
  left: 181px;
  top: 8562px;
  width: 38px;
  height: 38px;
  z-index: 98;
}

#indexImage35 {
  width: 38px;
  height: 38px;
}

#wb_indexImage36 {
  position: absolute;
  left: 181px;
  top: 8676px;
  width: 38px;
  height: 38px;
  z-index: 99;
}

#indexImage36 {
  width: 38px;
  height: 38px;
}

#wb_indexImage37 {
  position: absolute;
  left: 181px;
  top: 8733px;
  width: 38px;
  height: 38px;
  z-index: 100;
}

#indexImage37 {
  width: 38px;
  height: 38px;
}

#wb_indexImage38 {
  position: absolute;
  left: 181px;
  top: 8792px;
  width: 38px;
  height: 38px;
  z-index: 101;
}

#indexImage38 {
  width: 38px;
  height: 38px;
}

#wb_indexImage39 {
  position: absolute;
  left: 181px;
  top: 8852px;
  width: 38px;
  height: 38px;
  z-index: 102;
}

#indexImage39 {
  width: 38px;
  height: 38px;
}

#wb_indexImage8 {
  position: absolute;
  left: 647px;
  top: 3738px;
  width: 256px;
  height: 443px;
  z-index: 103;
}

#indexImage8 {
  width: 256px;
  height: 443px;
}

#wb_indexText69 {
  position: absolute;
  left: 219px;
  top: 9993px;
  width: 650px;
  height: 42px;
  z-index: 104;
  text-align: left;
}

#span_2c50_0 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 35px;
}

#indexRollOver5 {
  position: absolute;
  overflow: hidden;
  left: 324px;
  top: 10050px;
  width: 400px;
  height: 100px;
  z-index: 105;
}

#img_2c50_0,
#img_2c50_1 {
  left: 0;
  top: 0;
  width: 400px;
  height: 100px;
}

#wb_indexText64 {
  position: absolute;
  left: 704px;
  top: 7982px;
  width: 254px;
  height: 24px;
  z-index: 106;
  text-align: left;
}

#span_2c50_1 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#wb_indexText74 {
  position: absolute;
  left: 575px;
  top: 5418px;
  width: 459px;
  height: 360px;
  z-index: 107;
  text-align: left;
}

#span_9b36_0 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_1 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_2 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_3 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_4 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_5 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_6 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_7 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_8 {
  color: #fff;
  font-family: 'roboto condensed';
  font-size: 20px;
}

#span_9b36_9 {
  color: #ffd700;
  font-family: 'roboto condensed';
}

#wb_indexText75 {
  position: absolute;
  left: 116px;
  top: 5351px;
  width: 880px;
  height: 66px;
  z-index: 108;
  text-align: left;
}

#span_936b_0 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 27px;
}

#InlineFrame1 {
  position: absolute;
  left: 613px;
  top: 6270px;
  width: 465px;
  height: 113px;
  z-index: 109;
}

#indexInlineFrame1 {
  position: absolute;
  left: 593px;
  top: 8034px;
  width: 465px;
  height: 113px;
  z-index: 110;
}

#indexInlineFrame2 {
  position: absolute;
  left: 612px;
  top: 1557px;
  width: 465px;
  height: 113px;
  z-index: 111;
}

#indexLayer5 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 2343px;
  width: 100%;
  height: 68px;
  z-index: 132;
}

#indexLayer5_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText26 {
  position: absolute;
  left: 446px;
  top: 6px;
  width: 191px;
  height: 52px;
  z-index: 112;
  text-align: left;
}

#span_cba6_0 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer6 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 2817px;
  width: 100%;
  height: 68px;
  z-index: 133;
}

#indexLayer6_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText29 {
  position: absolute;
  left: 339px;
  top: 8px;
  width: 422px;
  height: 52px;
  z-index: 113;
  text-align: left;
}

#span_cba6_1 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer7 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 3704px;
  width: 100%;
  height: 68px;
  z-index: 134;
}

#indexLayer7_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText32 {
  position: absolute;
  left: 101px;
  top: 8px;
  width: 899px;
  height: 52px;
  z-index: 114;
  text-align: left;
}

#span_cba6_2 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer8 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 4260px;
  width: 100%;
  height: 68px;
  z-index: 135;
}

#indexLayer8_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText34 {
  position: absolute;
  left: 375px;
  top: 8px;
  width: 350px;
  height: 52px;
  z-index: 115;
  text-align: left;
}

#span_cba6_3 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer9 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 5359px;
  width: 100%;
  height: 68px;
  z-index: 136;
}

#indexLayer9_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText37 {
  position: absolute;
  left: 284px;
  top: 8px;
  width: 542px;
  height: 52px;
  z-index: 116;
  text-align: left;
}

#span_4bf1_0 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer10 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 7043px;
  width: 100%;
  height: 68px;
  z-index: 137;
}

#indexLayer10_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText51 {
  position: absolute;
  left: 315px;
  top: 7px;
  width: 480px;
  height: 52px;
  z-index: 117;
  text-align: left;
}

#span_4bf1_1 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer11 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 9549px;
  width: 100%;
  height: 68px;
  z-index: 138;
}

#indexLayer11_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText65 {
  position: absolute;
  left: 310px;
  top: 6px;
  width: 480px;
  height: 52px;
  z-index: 118;
  text-align: left;
}

#span_4bf1_2 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}

#indexLayer12 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 10819px;
  width: 100%;
  height: 193px;
  z-index: 139;
}

#indexLayer12_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText70 {
  position: absolute;
  left: 28px;
  top: 26px;
  width: 367px;
  height: 84px;
  z-index: 119;
  text-align: left;
}

#span_06d3_0,
#a_06d3_0 {
  color: #ffdab9;
  font-family: Arial;
  font-size: 13px;
}

#wb_indexText71 {
  position: absolute;
  left: 757px;
  top: 18px;
  width: 331px;
  height: 126px;
  text-align: right;
  z-index: 120;
}

#span_06d3_1 {
  color: #ffd700;
  font-family: 'roboto condensed';
  font-size: 35px;
}

#indexLayer3 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 140;
  position: fixed;
}

#indexLayer3_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText1 {
  position: absolute;
  left: 0;
  top: 5px;
  width: 200px;
  height: 53px;
  z-index: 121;
  text-align: left;
}

#indexImage24 {
  width: 200px;
  height: 53px;
}

#wb_indexImage24 {
  position: absolute;
  left: 892px;
  top: 14px;
  width: 200px;
  height: 50px;
  z-index: 122;
}

#indexImage24 {
  width: 160px;
  height: 40px;
}

#wb_indexImage25 {
  position: absolute;
  left: 534px;
  top: 14px;
  width: 200px;
  height: 50px;
  z-index: 123;
}

#indexImage25 {
  width: 160px;
  height: 40px;
}

#wb_indexImage26 {
  position: absolute;
  left: 720px;
  top: 14px;
  width: 200px;
  height: 50px;
  z-index: 124;
}

#indexImage26 {
  width: 160px;
  height: 40px;
}

#wb_indexImage27 {
  position: absolute;
  left: 330px;
  top: 14px;
  width: 200px;
  height: 50px;
  z-index: 125;
}

#indexImage27 {
  width: 160px;
  height: 40px;
}

#wb_indexImage28 {
  position: absolute;
  left: 13px;
  top: 7px;
  width: 200px;
  height: 50px;
  z-index: 126;
}

#indexImage28 {
  width: 200px;
  height: 50px;
}

#indexLayer13 {
  position: absolute;
  text-align: center;
  left: 0;
  top: 8821px;
  width: 100%;
  height: 68px;
  z-index: 141;
}

#indexLayer13_Container {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#wb_indexText72 {
  position: absolute;
  left: 315px;
  top: 7px;
  width: 480px;
  height: 52px;
  z-index: 127;
  text-align: left;
}

#span_c00e_0 {
  color: #000;
  font-family: 'roboto condensed';
  font-size: 43px;
}
