div#container {
    width: 1100px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    text-align: center;
}

a {
    color: #0000FF;
    text-decoration: underline;
    &:visited {
        color: #800080;
    }
    &:active {
        color: #FF0000;
    }
    &:hover {
        color: #0000FF;
        text-decoration: underline;
    }
}

#indexImage40, #indexImage7, #indexImage19, #indexImage11, #indexImage4, #indexImage20 {
    border: 0px #000000 solid;
}

#indexLayer1 {
    background-color: transparent;
    background-image: url(../images/222.jpg);
    background-repeat: repeat;
    background-position: center center;
}

#indexLayer2 {
    background-color: #DAA520;
}

#wb_indexText1 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#wb_indexText2, #wb_indexText3 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    -webkit-animation: animate-fade-in-left 1000ms linear 2ms 1 normal;
    -moz-animation: animate-fade-in-left 1000ms linear 2ms 1 normal;
    -ms-animation: animate-fade-in-left 1000ms linear 2ms 1 normal;
    animation: animate-fade-in-left 1000ms linear 2ms 1 normal;
    div {
        text-align: left;
    }
}

#wb_indexText4, #wb_indexText5, #wb_indexText6, #wb_indexText7, #wb_indexText8, #wb_indexText9, #wb_indexText10 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage1 {
    border: 0px #000000 solid;
}

#indexLayer4 {
    background-color: #000000;
}

#indexImage2 {
    border: 0px #000000 solid;
}

#wb_indexText13, #wb_indexText14, #wb_indexText15, #wb_indexText16, #wb_indexText17, #wb_indexText18, #wb_indexText19, #wb_indexText20 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage3 {
    border: 0px #000000 solid;
}

#wb_indexText22 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#wb_indexText21 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: center;
    div {
        text-align: center;
    }
}

#wb_indexText23, #wb_indexText24 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexRollOver1 {
    a {
        display: block;
        position: relative;
        img {
            position: absolute;
            z-index: 1;
            border-width: 0;
        }
    }
    span {
        display: block;
        height: 100px;
        width: 400px;
        position: absolute;
        z-index: 2;
    }
}

#wb_indexText25 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexLayer5 {
    background-color: #DAA520;
}

#wb_indexText26, #wb_indexText27, #wb_indexText28 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage5 {
    border: 0px #000000 solid;
}

#indexImage6 {
    border: 0px #000000 solid;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#indexLayer6 {
    background-color: #DAA520;
}

#wb_indexText29, #wb_indexText30, #wb_indexText31 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexRollOver2 {
    a {
        display: block;
        position: relative;
        img {
            position: absolute;
            z-index: 1;
            border-width: 0;
        }
    }
    span {
        display: block;
        height: 100px;
        width: 400px;
        position: absolute;
        z-index: 2;
    }
}

#indexLayer7 {
    background-color: #DAA520;
}

#wb_indexText32, #wb_indexText33 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexLayer8 {
    background-color: #DAA520;
}

#wb_indexText34, #wb_indexText35 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexLayer9 {
    background-color: #DAA520;
}

#wb_indexText36, #wb_indexText37 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage10 {
    border: 0px #000000 solid;
}

#wb_indexText38, #wb_indexText39, #wb_indexText40 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexLine1 {
    border-width: 0;
    height: 43px;
    width: 177px;
}

#wb_indexText41, #wb_indexText42, #wb_indexText43, #wb_indexText44, #wb_indexText45, #wb_indexText46, #wb_indexText47, #wb_indexText48 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexRollOver3 {
    a {
        display: block;
        position: relative;
        img {
            position: absolute;
            z-index: 1;
            border-width: 0;
        }
    }
    span {
        display: block;
        height: 100px;
        width: 400px;
        position: absolute;
        z-index: 2;
    }
}

#wb_indexText49 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage12 {
    border: 0px #000000 solid;
}

#wb_indexText50 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: center;
    div {
        text-align: center;
    }
}

#indexLayer10 {
    background-color: #DAA520;
}

#wb_indexText51 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage13, #indexImage14 {
    border: 0px #000000 solid;
}

#wb_indexText52, #wb_indexText53 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage15 {
    border: 0px #000000 solid;
}

#wb_indexText54 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage16 {
    border: 0px #000000 solid;
}

#wb_indexText55 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage17 {
    border: 0px #000000 solid;
}

#wb_indexText56 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage18 {
    border: 0px #000000 solid;
}

#wb_indexText57, #wb_indexText58, #wb_indexText59, #wb_indexText60, #wb_indexText61, #wb_indexText62 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexRollOver4 {
    a {
        display: block;
        position: relative;
        img {
            position: absolute;
            z-index: 1;
            border-width: 0;
        }
    }
    span {
        display: block;
        height: 100px;
        width: 400px;
        position: absolute;
        z-index: 2;
    }
}

#wb_indexText64 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexLayer11 {
    background-color: #DAA520;
}

#wb_indexText65 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage21 {
    border: 0px #000000 solid;
}

#wb_indexText66 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage22 {
    border: 0px #000000 solid;
}

#wb_indexText67 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage23 {
    border: 0px #000000 solid;
}

#wb_indexText68 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexLayer12 {
    background-color: transparent;
    background-image: url(../images/Fiber-Carbon-Tiled-Pattern-background-vol.11.jpg);
    background-repeat: repeat;
    background-position: center center;
}

#indexRollOver5 {
    a {
        display: block;
        position: relative;
        img {
            position: absolute;
            z-index: 1;
            border-width: 0;
        }
    }
    span {
        display: block;
        height: 100px;
        width: 400px;
        position: absolute;
        z-index: 2;
    }
}

#wb_indexText69, #wb_indexText70 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#wb_indexText71 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: right;
    div {
        text-align: right;
    }
}

#wb_indexText63 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: center;
    div {
        text-align: center;
    }
}

#indexImage24, #indexImage25, #indexImage26, #indexImage27, #indexImage28 {
    border: 0px #000000 solid;
}

#indexLayer3 {
    background-color: #000000;
}

#wb_indexText11, #wb_indexText12 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage9 {
    border: 0px #000000 solid;
}

#indexLayer13 {
    background-color: #DAA520;
}

#wb_indexText72, #wb_indexText73 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}

#indexImage29, #indexImage30, #indexImage31, #indexImage32, #indexImage33, #indexImage34, #indexImage35, #indexImage36, #indexImage37, #indexImage38, #indexImage39, #indexImage8 {
    border: 0px #000000 solid;
}

#wb_indexText74, #wb_indexText75 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}