div#container {
    width: 901px;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}

body {
    background-color: #000000;
    color: #000000;
    font-family: Arial;
    font-size: 8px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
}

a {
    color: #0000FF;
    text-decoration: underline;
    &:visited {
        color: #800080;
    }
    &:active {
        color: #FF0000;
    }
    &:hover {
        color: #0000FF;
        text-decoration: underline;
    }
}

#wb_voprosText1, #wb_voprosText2 {
    background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    text-align: left;
    div {
        text-align: left;
    }
}